<div class="form-group col-lg-12">
  <label class="control-label">
    Multiple choices from options
    <span class="help-block">Enter some values and press enter or comma.</span>
  </label>
  <tags-input ng-model="property.multiplechoices.choices" class="form-tags" min-length="1" max-length="400"
              placeholder="Add option"></tags-input>
</div>