<div class="form-group col-lg-4">
  <label class="control-label">'Yes' text</label>
  <input class="form-control" type="text" ng-model="property.yesno.yes" required>
</div>
<div class="form-group col-lg-4">
  <label class="control-label">'No' text</label>
  <input class="form-control" type="text" ng-model="property.yesno.no" required>
</div>
<div class="form-group col-lg-4">
  <label class="control-label">
    <input type="checkbox" ng-model="property.yesno.isIndeterminate"> is indeterminate
  </label>
  <input class="form-control" ng-disabled="!property.yesno.isIndeterminate" type="text"
         ng-model="property.yesno.indeterminate" ng-required="property.yesno.isIndeterminate==true">
</div>