<div class="form-group col-lg-4">
  <label class=" control-label">Min value</label>
  <input class="form-control" type="number" ng-model="property.number.minvalue"/>
</div>
<div class="form-group col-lg-4">
  <label class=" control-label">Max value</label>
  <input class="form-control" type="number" ng-model="property.number.maxvalue"/>
</div>
<div class="form-group col-lg-4">
  <label class="control-label">Units</label>
  <select class="form-control" ng-model="property.number.units"
          ng-options="unit for unit in properties.additionalsForType(property.type).units">
  </select>
</div>
