@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/normalize.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/panels.less';
@import '../../vendor/bootstrap/less/close.less';
@import '../../vendor/bootstrap/less/labels.less';
@import '../../vendor/bootstrap/less/modals.less';


@import 'variables.less';

.content-container{
  width: 90%;
  .container-fixed();
}

/*Validation classes*/
.form-input-validation(@text-color: #555, @border-color: #ccc, @background-color: #f5f5f5) {
  padding-right: 32px; // to account for the feedback icon
  border-color: @border-color;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
  &:focus {
    border-color: darken(@border-color, 10%);
    @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@border-color, 20%);
    .box-shadow(@shadow);
  }
}


input.ng-invalid, textarea.ng-invalid {
  .form-input-validation(@state-danger-text, @state-danger-text, @state-danger-bg);
}

@import 'tagsinput.less';
@import '../app/category_editor/category_editor.less';

