.form-tags{
  .form-inline();
  .newTag {
    width:15%;
    margin-top: 0.5em;
  }

  &.ng-invalid .newTag{
    .form-input-validation(@state-danger-text, @state-danger-text, @state-danger-bg);
  }

  .label.tag{
    white-space: normal;
    display: inline-block;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-size: 130%;
    font-weight: bolder;

    .label-warning;

    .close{
      float: none;
      vertical-align: middle;
      margin-left: 0.5em;
    }
  }

}