<label>{{property.title}}</label>
<div class="radio" ng-repeat="choice in property.singlechoice.choices">
  <label>
    <input type="radio" name="{{property.name}}" ng-required="property.required"
           ng-model="preview[property.name].value" value="{{choice}}">
    {{choice}}
  </label>
</div>