<label>{{property.title}}</label>
<div class="radio">
  <label>
    <input type="radio" name="{{property.name}}" value="yes" ng-required="property.required"
           ng-model="preview[property.name].value">
    {{property.yesno.yes}}
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="{{property.name}}" value="no" ng-required="property.required"
           ng-model="preview[property.name].value">
    {{property.yesno.no}}
  </label>
</div>
<div class="radio">
  <label ng-if="property.yesno.isIndeterminate">
    <input type="radio" name="{{property.name}}" value="indeterminate" ng-required="property.required"
           ng-model="preview[property.name].value">
    {{property.yesno.indeterminate}}
  </label>
</div>