<label>{{property.title}} ({{property.number.units}})</label>
<div class="row">
  <div class="form-group col-lg-6">
    <label class=" control-label">From</label>
    <input class="form-control" type="number" min="property.range.minvalue" max="property.range.maxvalue"
           name="{{property.name}}"
           ng-required="property.required"
           ng-model="preview[property.name].from"/>
  </div>
  <div class="form-group col-lg-6">
    <label class=" control-label">To</label>
    <input class="form-control" type="number" min="property.range.minvalue" max="property.range.maxvalue"
           name="{{property.name}}"
           ng-required="property.required"
           ng-model="preview[property.name].to"/>
  </div>
</div>
