<label for="{{property.name}}">{{property.title}}</label>
<input ng-if="!property.text.multiline" name="{{property.name}}" type="text" class="form-control" placeholder="" ng-required="property.required"  ng-model="preview[property.name].value">
<textarea rows="3" ng-if="property.text.multiline" name="{{property.name}}" class="form-control" placeholder="" ng-required="property.required"  ng-model="preview[property.name].value"></textarea>