<label>{{property.title}}</label>
<div class="checkbox" ng-init="preview[property.name].value={};preview[property.name].value[choice]=false" ng-repeat="choice in property.multiplechoices.choices">
  <label>
    <input type="checkbox" name="{{property.name}}"
           ng-model="preview[property.name].value[choice]">
    {{choice}}
  </label>
</div>
