<div class="row">
  <div class="col-lg-6">
    <h1>Category editor</h1>
    <hr/>
    <div class="properties-control-panel">
      <button class="btn btn-primary" ng-click="properties.addNewProperty()"><i class="icon-plus"></i> Add property
      </button>
      <button class="btn btn-success pull-right" ng-click="properties.saveAll()" ng-disabled="!hasChanges()">Save all
      </button>
    </div>
    <ng-form name="propertiesForm">
      <div class="property-container" ng-include="'category_editor/property_editor.tpl.html'"
           ng-repeat="property in properties.items()">
      </div>
    </ng-form>
  </div>
  <div class="col-offset-1 col-lg-5">
    <h1 class="text-right">Preview <small>this is a preview of edit form</small></h1>
    <hr/>
    <div class="properties-control-panel">
      <button class="btn btn-primary pull-right" ng-click="showPreview()">Show preview data
      </button>
    </div>
    <div class="property-preview">
      <form name="previewForm">
        <ng-include src="'category_editor/category_preview.tpl.html'">
        </ng-include>
      </form>
    </div>
  </div>
</div>