<div class="row" ng-repeat="property in properties.items()">
  <div class="form-group col-lg-12" ng-if="!property.isRemoved" ng-init="preview[property.name]={}">
    <ng-include src="'category_editor/type_preview/editor-type-'+property.type+'.tpl.html'">
    </ng-include>
  </div>
</div>
