<div class="property-container">
  <form name="propertiesEditor">
    <div class="panel"
         ng-class="{'panel-danger':propertiesEditor.$invalid && !property.isRemoved,
                    'panel-info':propertiesEditor.$pristine && !property.isRemoved,
                    'panel-warning':propertiesEditor.$dirty && propertiesEditor.$valid && !property.isRemoved
                    }">
      <div class="panel-heading">
        <h3 class="panel-title">{{property.title||'Unnamed (title is required)'}}
          <span ng-if="propertiesEditor.$dirty" class="label label-warning">property changed</span>
          <span ng-if="propertiesEditor.$invalid" class="label label-danger">property invalid</span>
          <span ng-if="property.isRemoved" class="label label-danger">property removed</span>
          <button ng-if="!property.isRemoved" class="close" ng-click="properties.remove(property)">&times;</button>
        </h3>
      </div>
      <div class="property-editor">
        <div class="row">
          <div class="form-group col-lg-9">
            <label class="control-label">System name</label>
            <input type="text" class="form-control input-small" placeholder="Property name" ng-model="property.name"
                   ng-required="!property.isRemoved" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]*$/">
          </div>
          <div class="form-group col-lg-3">
            <label class="control-label">Type</label>
            <select class="form-control input-small" ng-model="property.type"
                    ng-options="propType for propType in properties.propertyTypes()">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-12">
            <label class="control-label">Title</label>
            <input type="text" class="form-control" placeholder="Property title" ng-model="property.title"
                   ng-required="!property.isRemoved">
            <div class="checkbox">
              <label class="control-label"><input type="checkbox" ng-model="property.required"> Required</label>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="!property.isRemoved" ng-class="property-editor-{{property.type}}" class="row">
        <hr/>
        <ng-include src="'category_editor/type_editors/editor-type-'+property.type+'.tpl.html'">

        </ng-include>
      </div>
    </div>
  </form>
</div>